In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
import os

# Define base directory
base_dir = r"C:\Users\sammu\Downloads\Recommendation System Project"  # Change this if needed

# Ensure the directory exists
if not os.path.exists(base_dir):
    print(f"Error: The directory '{base_dir}' does not exist.")
else:
    # Load datasets
    try:
        events_df = pd.read_csv(os.path.join(base_dir, "events.csv"))
        items_part1 = pd.read_csv(os.path.join(base_dir, "item_properties_part1.1.csv"))
        items_part2 = pd.read_csv(os.path.join(base_dir, "item_properties_part2.csv"), header=None)

        # Ensure column names match between both parts
        items_part2.columns = items_part1.columns

        # Merge both parts
        items_df = pd.concat([items_part1, items_part2], ignore_index=True)

        # Save merged file for future use
        items_df.to_csv(os.path.join(base_dir, "item_properties.csv"), index=False)

        # Load categories data
        categories_df = pd.read_csv(os.path.join(base_dir, "category_tree.csv"))

        # Display first few rows
        print("Events Data:")
        display(events_df.head())

        print("Combined Item Properties Data:")
        display(items_df.head())

        print("Category Tree Data:")
        display(categories_df.head())

    except FileNotFoundError as e:
        print(f"Error: {e}")
    except Exception as e:
        print(f"Unexpected Error: {e}")

C:\Users\sammu\AppData\Local\Temp\ipykernel_17228\1828354493.py:14: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  items_part2 = pd.read_csv(os.path.join(base_dir, "item_properties_part2.csv"), header=None)

Events Data:

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

Combined Item Properties Data:

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

Category Tree Data:

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [9]:
import os
print(os.listdir(base_dir))

['.ipynb_checkpoints', 'About Recommendation System Dataset.pdf', 'category_tree.csv', 'data', 'events.csv', 'item_properties_part1.1.csv', 'item_properties_part2.csv', 'notebooks', 'Recommendation System Project.docx', 'Recommendation-System-Project', 'reports', 'scripts', 'Untitled.ipynb', 'visualizations', '~$commendation System Project.docx']

In [13]:
# Check missing values in all datasets
print("Missing values in events dataset:")
print(events_df.isnull().sum())

print("\nMissing values in items dataset:")
print(items_df.isnull().sum())

print("\nMissing values in categories dataset:")
print(categories_df.isnull().sum())

Missing values in events dataset:
timestamp              0
visitorid              0
event                  0
itemid                 0
transactionid    2733644
dtype: int64

Missing values in items dataset:
timestamp    0
itemid       0
property     0
value        0
dtype: int64

Missing values in categories dataset:
categoryid     0
parentid      25
dtype: int64

In [15]:
print("Events dataset shape:", events_df.shape)
print("Item properties dataset shape:", items_df.shape)
print("Category tree dataset shape:", categories_df.shape)

print("\nEvents dataset columns:", events_df.columns)
print("\nItem properties dataset columns:", items_df.columns)
print("\nCategory tree dataset columns:", categories_df.columns)

Events dataset shape: (2756101, 5)
Item properties dataset shape: (20275903, 4)
Category tree dataset shape: (1669, 2)

Events dataset columns: Index(['timestamp', 'visitorid', 'event', 'itemid', 'transactionid'], dtype='object')

Item properties dataset columns: Index(['timestamp', 'itemid', 'property', 'value'], dtype='object')

Category tree dataset columns: Index(['categoryid', 'parentid'], dtype='object')

## 1️⃣Handling Missing Values
### Events Dataset: Handling transactionid missing values

#### The transactionid column is missing for views and add-to-cart events (which don’t involve transactions).

#### Solution: Fill missing values with "No Transaction"

In [18]:
# Fill missing transactionid values
events_df["transactionid"].fillna("No Transaction", inplace=True)

## 2️⃣ Categories Dataset: Handling parentid missing values
### parentid missing means the category is a top-level category
### Solution: Fill missing parentid values with "Root"

In [24]:
# Fill missing parentid with "Root"
categories_df["parentid"].fillna("Root", inplace=True)

### Converting timestamp to Datetime Format

In [32]:
# Convert timestamp column to numeric format
events_df["timestamp"] = pd.to_numeric(events_df["timestamp"], errors="coerce")
items_df["timestamp"] = pd.to_numeric(items_df["timestamp"], errors="coerce")

# Convert from milliseconds to seconds
events_df["timestamp"] = events_df["timestamp"] // 1000
items_df["timestamp"] = items_df["timestamp"] // 1000

# Define valid timestamp range (2010 - 2030)
valid_min = 1262304000  # 2010-01-01
valid_max = 1924992000  # 2030-12-31

# Filter out invalid timestamps
events_df = events_df[(events_df["timestamp"] >= valid_min) & (events_df["timestamp"] <= valid_max)]
items_df = items_df[(items_df["timestamp"] >= valid_min) & (items_df["timestamp"] <= valid_max)]

# Convert timestamps to datetime format
events_df["timestamp"] = pd.to_datetime(events_df["timestamp"], unit="s")
items_df["timestamp"] = pd.to_datetime(items_df["timestamp"], unit="s")

print("✅ Timestamp conversion successful!")

✅ Timestamp conversion successful!

## Map Event Types to Numeric Values
### For better processing, let's convert event types into numbers:

### Event Type → Numeric Value
### View → 1
### Add to Cart → 2
### Purchase → 3

In [36]:
event_mapping = {"view": 1, "addtocart": 2, "transaction": 3}
events_df["event"] = events_df["event"].map(event_mapping)

### Pivoting Item Properties for Better Analysis
#### Goal: Convert property column into multiple columns (one for each attribute).

In [41]:
# Check for duplicate item-property pairs
duplicate_entries = items_df.duplicated(subset=["itemid", "property"], keep=False)
print("Duplicate Entries Found:", items_df[duplicate_entries].head())

# Resolve duplicates by keeping the latest value
items_df = items_df.groupby(["itemid", "property"]).agg({"value": "last"}).reset_index()

# Pivot the cleaned dataset
items_pivot = items_df.pivot(index="itemid", columns="property", values="value").reset_index()

print("✅ Pivot successful! Shape of new dataframe:", items_pivot.shape)
display(items_pivot.head())

Duplicate Entries Found:             timestamp  itemid   property                            value
1 2015-09-06 03:00:00  206783        888          1116713 960601 n277.200
2 2015-08-09 03:00:00  395014        400  n552.000 639502 n720.000 424566
3 2015-05-10 03:00:00   59481        790                       n15360.000
5 2015-07-05 03:00:00  285026  available                                0
9 2015-06-14 03:00:00   98113        451                  1141052 n48.000
✅ Pivot successful! Shape of new dataframe: (527365, 1105)

property,itemid,0,1,10,100,1000,1001,1002,1003,1004,...,992,993,994,995,996,997,998,999,available,categoryid
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,209
1,1,769062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1114
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1305
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1171
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1038

### Many columns have NaN values due to missing property values for certain items.
##### Filling missing values with appropriate defaults:

In [47]:
items_pivot.fillna("Unknown", inplace=True)  # Use "Unknown" for categorical data
# OR
items_pivot.fillna(0, inplace=True)  # Use 0 for numerical data

In [49]:
# Example: If you have a mapping dictionary
property_mapping = {0: "Color", 1: "Size", 10: "Material"}  # Update with actual mappings
items_pivot.rename(columns=property_mapping, inplace=True)

In [51]:
print(items_pivot.info())  # Check column data types
print(items_pivot.head())  # Preview cleaned dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527365 entries, 0 to 527364
Columns: 1105 entries, itemid to categoryid
dtypes: object(1105)
memory usage: 4.3+ GB
None
property itemid        0        1       10      100     1000     1001  \
0             0  Unknown  Unknown  Unknown  Unknown  Unknown  Unknown
1             1   769062  Unknown  Unknown  Unknown  Unknown  Unknown
2             2  Unknown  Unknown  Unknown  Unknown  Unknown  Unknown
3             3  Unknown  Unknown  Unknown  Unknown  Unknown  Unknown
4             4  Unknown  Unknown  Unknown  Unknown  Unknown  Unknown

property     1002     1003     1004  ...      992      993      994      995  \
0         Unknown  Unknown  Unknown  ...  Unknown  Unknown  Unknown  Unknown
1         Unknown  Unknown  Unknown  ...  Unknown  Unknown  Unknown  Unknown
2         Unknown  Unknown  Unknown  ...  Unknown  Unknown  Unknown  Unknown
3         Unknown  Unknown  Unknown  ...  Unknown  Unknown  Unknown  Unknown
4         Unknown  Unknown  Unknown  ...  Unknown  Unknown  Unknown  Unknown

property      996      997      998      999 available categoryid
0         Unknown  Unknown  Unknown  Unknown         0        209
1         Unknown  Unknown  Unknown  Unknown         0       1114
2         Unknown  Unknown  Unknown  Unknown         0       1305
3         Unknown  Unknown  Unknown  Unknown         0       1171
4         Unknown  Unknown  Unknown  Unknown         0       1038

[5 rows x 1105 columns]